<a href="https://colab.research.google.com/github/akshata-9999/Python-With-AIML/blob/Core-Python/05forloops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for i in range(5):
  print(i)

0
1
2
3
4

In [2]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [3]:
for i in range(1,6):
  print(f'welcome to sohamglobal {i}')

welcome to sohamglobal 1
welcome to sohamglobal 2
welcome to sohamglobal 3
welcome to sohamglobal 4
welcome to sohamglobal 5

In [4]:
for i in range (25,50,3):
  print(i)

25
28
31
34
37
40
43
46
49

In [6]:
for ch in 'Akshata':
  print(ch)

A
k
s
h
a
t
a

In [7]:
names=['joe root','jos buttler','pat cummins','mohammed salah','steve smith']

for nm in names:
  print(nm)

joe root
jos buttler
pat cummins
mohammed salah
steve smith

In [8]:
n=int(input('Enter a number : '))

for i in range(1,11):
  print(n*i)

Enter a number : 3
3
6
9
12
15
18
21
24
27
30

In [9]:
for i in range(1,10):
  if i==5:
    break
  print(i)

1
2
3
4

In [10]:
for i in range(1,6):
  if i==3:
    continue
  print(i)

1
2
4
5